---
http_interactions:
- request:
    method: get
    uri: https://ifsc.results.info/api/v1/events/1491/registrations
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"99b222a8f40a9f90ebd5585317cb6895"
    body:
      encoding: ASCII-8BIT
      string: '[{"athlete_id":16642,"firstname":"Christian","lastname":"WILLIAMS","name":"WILLIAMS
        Christian","gender":0,"federation":"SCA","federation_id":28,"country":"AUS","d_cats":[{"id":490,"name":"SPEED
        Men","status":"confirmed"}]},{"athlete_id":17580,"firstname":"Ashlyn","lastname":"SMITH","name":"SMITH
        Ashlyn","gender":1,"federation":"SCA","federation_id":28,"country":"AUS","d_cats":[{"id":510,"name":"SPEED
        Women","status":"confirmed"}]},{"athlete_id":17581,"firstname":"Tahlia","lastname":"HARSDORF","name":"HARSDORF
        Tahlia","gender":1,"federation":"SCA","federation_id":28,"country":"AUS","d_cats":[{"id":510,"name":"SPEED
        Women","status[...]
