---
http_interactions:
- request:
    method: get
    uri: https://ifsc.results.info/api/v1/events/1515/registrations
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9d5559fe2627c8f8418baefa4d61d4f6"
    body:
      encoding: ASCII-8BIT
      string: '[{"athlete_id":3679,"firstname":"Jarrell","lastname":"SOH JIT KAI","name":"SOH
        JIT KAI Jarrell","gender":0,"federation":"SSCMF","federation_id":51,"country":"SGP","d_cats":[{"id":185,"name":"LEAD
        Men"}]},{"athlete_id":3665,"firstname":"Luke","lastname":"GOH WEN BIN","name":"GOH
        WEN BIN Luke","gender":0,"federation":"SSCMF","federation_id":51,"country":"SGP","d_cats":[{"id":185,"name":"LEAD
        Men"},{"id":187,"name":"BOULDER Men"}]},{"athlete_id":14719,"firstname":"Yong
        Kang","lastname":"DYLAN SEOW","name":"DYLAN SEOW Yong Kang","gender":0,"federation":"SSCMF","federation_id":51,"country":"SGP","d_cats":[{"id":185,"name":"LEAD
        Men"},{"[...]
- request:
    method: get
    uri: https://ifsc.results.info/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - "</assets/application-0c4f26a1c5ae454af51145ae3a4f9086160766b0050506fa98d45c837ce60d71.css>;
        rel=preload; as=style; nopush,</assets/application-87ede610f6de28a355cc2f5bb7d4985ddf53a2c06402fb38695d95175c05be43.js>;
        rel=preload; as=script; nopush,</vite/assets/entrypoint-p0yg6Roy.js>; rel=modulepreload;
        as=script; crossorigin=anonymous; nopush,</vite/assets/entrypoint-C-xbeWYT.css>;
        rel=preload; as=style; nopush,</vite/assets/rs_tabs-CrVLFnQq.css>; rel=preload;
        as=style; nopush,</vite/assets/app-tn0RQdqM.css>; rel=preload; as=style; nopush,</vite/assets/rs_hr-s5aWKrUf.css>;
        rel=preload; as=style; nopush,</vite/assets/rs_modal-BzNihJLl.css>; rel=preload;
        as=style; nopush,</vite/assets/style-CnzGhvb0.css>; rel=preload; as=style;
        nopush,</vite/assets/tag_layout-BVd5WBkf.css>; rel=preload; as=style; nopush"
    body:
      encoding: ASCII-8BIT
      string: "<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta charset=\"UTF-8\">\n
        \   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0,
        maximum-scale=1.0\">\n    \n      <!-- Google Tag Manager -->\n      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':\n
        \     new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],\n
        \     j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=\n
        \     'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);\n
        \     })(window,document,'script','dataLayer','GTM-MT5GL8L');</script>\n      <!--
        End Google Tag Manager -->\n    \n    <script src=\"https://code.iconify.design/1/1.0.7/iconify.min.js\"
        async></script>\n    <script>window.VL_UNIFIED_APP = true</script>\n    <title>IFSC
        Climbing Result Service</title>\n    <meta name=\"csrf-param\" content=\"authenticity_token\"
        />\n<meta name=\"csrf-token\" content=\"OqxyjO4C-_sF2oFDnteYfaHWRPoQ9kdu5Jd1k6zHVXNmJ70JXuycUwY5hv4N_vFNeTEZr51Li4vE-35EV4bYtA\"
        />\n    \n    \n\n    <link rel=\"stylesheet\" href=\"/assets/application-0c4f26a1c5ae454af51145ae3a4f9086160766b0050506fa98d45c837ce60d71.css\"
        media=\"all\" />\n    <script src=\"/assets/application-87ede610f6de28a355cc2f5bb7d4985ddf53a2c06402fb38695d95175c05be43.js\"></script>\n
        \   <script src=\"/vite/assets/entrypoint-p0yg6Roy.js\" crossorigin=\"anonymous\"
        type=\"module\"></script><link rel=\"modulepreload\" href=\"/vite/assets/preload-helper-5ZGr_LBp.js\"
        as=\"script\" crossorigin=\"a[...]
- request:
    method: get
    uri: https://ifsc.results.info/api/v1/athletes/3679
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"bbb20ded9c1d6306d735fa0eaa691715"
    body:
      encoding: ASCII-8BIT
      string: '{"id":3679,"firstname":"Jarrell","lastname":"SOH JIT KAI","birthday":"2003-08-19","gender":"male","paraclimbing_sport_class":null,"sport_class_status":null,"sport_class_review_date":null,"pronouns":null,"personal_story":null,"federation":{"id":51,"name":"Singapore
        Sport Climbing and Mountaineering Federation","abbreviation":"SSCMF","url":"www.smf-climbing.org"},"speed_personal_best":{"time":"9.71","date":"2019-08-31","event_name":"IFSC
        Youth World Championships -  Arco (ITA) 2019 ","round_name":"Qualification"},"country":"SGP","flag_url":"https://d1n1qj9geboqnb.cloudfront.net/flags/SGP.png","city":"Singapore","age":22,"arm_span":null,"height":null,"favourite_movie":null,"favourite_game":null,"favourite_song":null,"sporting_hero":null,"hobby":null,"website":null,"instagram":"","twitter":null,"facebook":null,"youtube":null,"nickname":null,"residence":null,"spoken_languages":null,"coach":null,"photo_url":null,"action_photo_url":null,"discipline_podiums":[{"discipline_kind":"lead","total":0,"1":0,"2":0,"3":0},{"discipline_kind":"speed","total":0,"1":0,"2":0,"3":0},{"discipline_kind":"boulder","total":0,"1":0,"2":0,"3":0},{"discipline_kind":"combined","total":0,"1":0,"2":0,"3":0},{"discipline_kind":"boulder\u0026lead","total":0,"1":0,"2":0,"3":0}],"world_championships_discipline_podiums":[{"discipline_kind":"lead","total":0,"1":0,"2":0,"3":0},{"discipline_kind":"speed","total":0,"1":0,"2":0,"3":0},{"discipline_kind":"boulder","total":0,"1":0,"2":0,"3":0},{"discipline_kind":"combined","total":0,"1":0,"2":0,"3":0},{"discipline_kind":"boulder\u0026lead","total":0,"1":0,"2":0,"3":0}],"continental_championships_discipline_podiums":[{"discipline_kind":"lead","total":0,"1":0,"2":0,"3":0},{"discipline_kind":"speed","total":0,"1":0,"2":0,"3":0},{"discipline_kind":"boulder","total":0,"1":0,"2":0,"3":0},{"discipline_kind":"combined","total":0,"1":0,"2":0,"3":0},{"discipline_kind":"boulder\u0026lead","total":0,"1":0,"2":0,"3":0}],"all_results":[{"season":"2025","rank":26,"discipline":"boulder","event_name":"IFSC
        Asian Cup Hong Kong 2025","event_id":1457,"event_location":"Hong Kong, HKG","d_cat":187,"date":"2025-03-09","category_name":"Men","result_url":"/api/v1/events/1457/result/187"},{"season":"2022","rank":25,"discipline":"boulder","event_name":"IFSC
        - Climbing Youth World Championships (B,S,L) - Dallas (USA) 2022","event_id":1246,"event_location":"United
        States","d_cat":11,"date":"2022-09-01","category_name":"Juniors Male","result_url":"/api/v1/events/1246/result/11"},{"season":"2022","rank":31,"discipline":"lead","event_name":"IFSC
        - Climbing Youth World Championships (B,S,L) - Dallas (USA) 2022","event_id":1246,"e[...]
[...]
