---
http_interactions:
- request:
    method: get
    uri: https://ifsc.results.info/api/v1/season_leagues/457
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fb590c7f8f130e6f7f2ed0f0704835a8"
    body:
      encoding: ASCII-8BIT
      string: '{"season":"2026","league":"World Cups and World Championships","d_cats":[{"id":1,"name":"LEAD
        Men","discipline":"Lead","discipline_kind_id":0},{"id":2,"name":"SPEED Men","discipline":"Speed","discipline_kind_id":1},{"id":3,"name":"BOULDER
        Men","discipline":"Boulder","discipline_kind_id":2},{"id":4,"name":"COMBINED
        Men","discipline":"Combined","discipline_kind_id":3},{"id":617,"name":"BOULDER\u0026LEAD
        Men","discipline":"Boulder\u0026lead","discipline_kind_id":4},{"id":5,"name":"LEAD
        Women","discipline":"Lead","discipline_kind_id":0},{"id":6,"name":"SPEED Women","discipline":"Speed","discipline_kind_id":1},{"id":7,"name":"BOULDER
        Women","discipline":"Boulder","discipline_kind_id":2},{"id":8,"name":"COMBINED
        Women","discipline":"Combined","discipline_kind_id":3},{"id":618,"name":"BOULDER\u0026LEAD
        Women","discipline":"Boulder\u0026lead","discipline_kind_id":4}],"events":[{"event":"World
        Climbing Series Keqiao 2026","event_id":1524,"cup_name":"IFSC Climbing World
        Cup 2026","cup_id":111,"url":"/api/v1/events/1524","registration_url":"/api/v1/events/1524/registrations","infosheet_url":"https://ifsc.results.info/events/1524/infosheet","additional_info_url":null,"starts_at":"2026-04-30
        16:00:00 UTC","ends_at":"2026-05-03 15:59:00 UTC","local_start_date":"2026-05-01","local_end_date":"2026-05-03","timezone":{"value":"Asia/Shanghai"},"d_cats":[{"id":3,"name":"BOULDER
        Men","status":"registration_pending","status_as_of":"2026-01-09 08:10:12 UTC","result_url":"/api/v1/events/1524/result/3","category_rounds":[{"category_round_id":10642,"kind":"boulder","name":"Qualification","category":"Men","schedule":null,"status":"pending","status_as_of":"2026-01-09
        08:10:12 UTC","result_url":"/api/v1/category_rounds/10642/results","starting_groups":[{"id":343,"name":"Group
        A","ranking":"/api/v1/starting_groups/343/results","routes":[{"id":18623,"name":"1","startlist":"/api/v1/routes/18623/startlist"},{"id":18624,"name":"2","startlist":"/api/v1/routes/18624/startlist"},{"id":18625,"name":"3","startlist":"/api/v1/routes/18625/startlist"},{"id":18626,"name":"4","startlist":"/api/v1/routes/18626/startlist"},{"id":18627,"name":"5","startlist":"/api/v1/routes/18627/startlist"}]},{"id":344,"name":"Group
        B","ranking":"/api/v1/starting_groups/344/results","routes":[{"id":18628,"name":"1","startlist":"/api/v1/routes/18628/startlist"},{"id":18629,"name":"2","startlist":"/api/v1/routes/18629/startlist"},{"id":18630,"name":"3","startlist":"/api/v1/routes/18630/startlist"},{"id":18631,"name":"4","startlist":"/api/v1/routes/18631/startlist"},{"id":18632,"name":"5","startlist":"/api/v1/routes/18632/startlist"}]}],"combined_stages":[],"round":{"league_round_id":1},"format":"IFSC:
        2 groups 2025 (points)","routes":[]}]},{"id":7,"name":"BOULDER Women","status":"registration_pending","status_as_of":"2026-01-09
        08:10:12 UTC","result_url":"/api/v1/events/1524/result/7","category_rounds":[{"category_round_id":10643,"kind":"boulder","name":"Qualification","category":"Women","schedule":null,"status":"pending","status_as_of":"2026-01-09
        08:10:12 UTC","result_url":"/api/v1/category_rounds/10643/results","starting_groups":[{"id":345,"name":"Group
     [...]
