---
http_interactions:
- request:
    method: get
    uri: https://ifsc.results.info/api/v1/season_leagues/457
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"12006bf52ee5c31117a216c847c4edbd"
    body:
      encoding: ASCII-8BIT
      string: '{"season":"2026","league":"World Cups and World Championships","d_cats":[{"id":1,"name":"LEAD
        Men","discipline":"Lead","discipline_kind_id":0},{"id":2,"name":"SPEED Men","discipline":"Speed","discipline_kind_id":1},{"id":3,"name":"BOULDER
        Men","discipline":"Boulder","discipline_kind_id":2},{"id":4,"name":"COMBINED
        Men","discipline":"Combined","discipline_kind_id":3},{"id":617,"name":"BOULDER\u0026LEAD
        Men","discipline":"Boulder\u0026lead","discipline_kind_id":4},{"id":5,"name":"LEAD
        Women","discipline":"Lead","discipline_kind_id":0},{"id":6,"name":"SPEED Women","discipline":"Speed","discipline_kind_id":1},{"id":7,"name":"BOULDER
        Women","discipline":"Boulder","discipline_kind_id":2},{"id":8,"name":"COMBINED
        Women","discipline":"Combined","discipline_kind_id":3},{"id":618,"name":"BOULDER\u0026LEAD
        Women","discipline":"Boulder\u0026lead","discipline_kind_id":4}],"events":[{"event":"World
        Climbing Series Keqiao 2026","event_id":1524,"cup_name":"IFSC Climbing World
        Cup 2026","cup_id":111,"url":"/api/v1/events/1524","registration_url":"/api/v1/events/1524/registrations","infosheet_url":"https://ifsc.results.info/events/1524/infosheet","additional_info_url":null,"starts_at":"2026-04-30
        16:00:00 UTC","ends_at":"2026-05-03 15:59:00 UTC","local_start_date":"2026-05-01","local_end_date":"2026-05-03","timezone":{"value":"Asia/Shanghai"},"d_cats":[{"id":3,"name":"BOULDER
        Men","status":"registration_pending","status_as_of":"2026-01-09 08:10:12 UTC","result_url":"/api/v1/events/1524/result/3","category_rounds":[{"category_round_id":10642,"kind":"boulder","name":"Qualification","category":"Men","schedule":null,"status":"pending","status_as_of":"2026-03-06
        11:48:06 UTC","result_url":"/api/v1/category_rounds/10642/results","starting_groups":[{"id":347,"name":"Group
        A","ranking":"/api/v1/starting_groups/347/results","routes":[{"id":18688,"name":"1","startlist":"/api/v1/routes/18688/startlist"},{"id":18689,"name":"2","startlist":"/api/v1/routes/18689/startlist"},{"id":18690,"name":"3","startlist":"/api/v1/routes/18690/startlist"},{"id":18691,"name":"4","startlist":"/api/v1/routes/18691/startlist"},{"id":18692,"name":"5","startlist":"/api/v1/routes/18692/startlist"}]},{"id":348,"name":"Group
        B","ranking":"/api/v1/starting_groups/348/results","routes":[{"id":18693,"name":"1","startlist":"/api/v1/routes/18693/startlist"},{"id":18694,"name":"2","startlist":"/api/v1/routes/18694/startlist"},{"id":18695,"name":"3","startlist":"/api/v1/routes/18695/startlist"},{"id":18696,"name":"4","startlist":"/api/v1/routes/18696/startlist"},{"id":18697,"name":"5","startlist":"/api/v1/routes/18697/startlist"}]}],"combined_stages":[],"round":{"league_round_id":1},"format":"IFSC:
        2 groups 2026 (points)","routes":[]},{"category_round_id":10659,"kind":"boulder","name":"Semi-final","category":"Men","schedule":null,"status":"pending","status_as_of":"2026-03-06
        11:48:09 UTC","result_url":"/api/v1/category_rounds/10659/results","starting_groups":[],"combined_stages":[],"round":{"league_round_id":2},"format":"IFSC:
        1 group 2026 (points)","routes":[{"id":18708,"name":"1","startlist":"/api/v1/routes/18708/startlist"},{"id":18709,"name":"2","startlis[...]
