---
http_interactions:
- request:
    method: get
    uri: https://ifsc.results.info/api/v1/category_rounds/10468/results
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b61d97126d3955024ce09378e87b7295"
    body:
      encoding: ASCII-8BIT
      string: '{"id":10468,"event":"World Climbing Oceania Championship Mount Maunganui
        2026","event_id":1491,"dcat_id":490,"discipline":"Speed","status":"finished","status_as_of":"2026-02-13
        23:04:03 UTC","category":"Men","round":"Qualification","format":"IFSC 2026:
        Qualification","routes":[{"id":18663,"name":"A","startlist":"/api/v1/routes/18663/startlist"},{"id":18664,"name":"B","startlist":"/api/v1/routes/18664/startlist"}],"ranking":[{"athlete_id":13915,"name":"DAVID
        Julian","firstname":"Julian","lastname":"DAVID","country":"NZL","flag_url":"https://d1n1qj9geboqnb.cloudfront.net/flags/NZL.png","federation_id":53,"bib":"618","rank":1,"score":"5.43","score_time":"5.43","record":false,"record_types":[],"ascents":[{"route_id":18664,"route_name":"B","time_ms":5435,"dnf":false,"dns":false,"modified":"2026-02-13
        22:51:29 +00:00","status":"active"},{"route_id":18663,"route_name":"A","time_ms":5491,"dnf":false,"dns":false,"modified":"2026-02-13
        22:36:36 +00:00","status":"active"}],"combined_stages":null,"active":false,"under_appeal":false},{"athlete_id":17582,"name":"SANDECK
        Fin Luc","firstname":"Fin Luc","lastname":"SANDECK","country":"AUS","flag_url":"https://d1n1qj9geboqnb.cloudfront.net/flags/AUS.png","federation_id":28,"bib":"611","rank":2,"score":"6.48","score_time":"6.48","record":false,"record_types":[],"ascents":[{"route_id":18663,"route_name":"A","time_ms":6481,"dnf":false,"dns":false,"modified":"2026-02-13
        22:58:08 +00:00","status":"active"},{"route_id":18664,"route_name":"B","time_ms":8495,"dnf":[...]
